{% extends 'layout.html.twig' %}

{% block content %}
    <ul>
        {% for product in data.products %}
           <li><a href="{{ path('product', { 'product_slug': product.cs.slug }) }}">{{ product.cs.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
